.assignment4 {
  text-align: center;
  margin-top: 40px;
}

.assignment4 input {
  padding: 6px;
  margin-right: 10px;
}

.assignment4 button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.assignment4 ol {
  width: 200px;
  margin: 20px auto;
  text-align: left;
}
