.assignment7-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.assignment7-title {
  margin-top: 20px;
  color: white;
}

.assignment7-list {
  padding: 5px 0;
  list-style-type: disc;
  color: white;
}
